<div class="row">
 <div class="col-md-12">
    <h2>Add Students</h2>
    </div>
<div class="row">
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-md-8"> 
                <div class="form-group">
                  <label for="exampleInputEmail1">Name</label>
                  <input type="text" class="form-control" formControlName="name" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                  <label>Father Name</label>
                  <input type="text" class="form-control" formControlName="fatherName" placeholder="">
                </div>
                
                <div class="form-group">
                    <label>Mother Name</label>
                    <input type="" class="form-control" formControlName="motherName">
                  </div>
                  
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" formControlName="email" placeholder="">
                  </div>
                  
                <div class="form-group">
                    <label>DOB</label>
                    <input type="number" class="form-control" formControlName="dob" placeholder="">
                  </div>
                  
                <div class="form-group">
                    <label>Country</label>
                    <input type="text" class="form-control" formControlName="country" placeholder="">
                  </div>

                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
        
        </div>
    </div>
</form>
</div>  
</div>